<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.binusezyfood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ErrorTopup"
            android:label="Binus EzyFood: Balance Not Enough"/>
        <activity
            android:name=".Topup"
            android:label="Binus EzyFood: Topup"/>
        <activity
            android:name=".FoodsMenu"
            android:label="Binus EzyFood: Foods Menu"/>
        <activity
            android:name=".SnacksMenu"
            android:label="Binus EzyFood: Snacks Menu"/>
        <activity
            android:name=".OrderComplete"
            android:label="Binus EzyFood: Order Complete" />
        <activity
            android:name=".Order"
            android:label="Binus EzyFood: Order" />
        <activity
            android:name=".myOrder"
            android:label="Binus EzyFood: My Order" />
        <activity
            android:name=".drinksMenu"
            android:label="Binus EzyFood: Drinks" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>